# 01 파이썬 리뷰

## 파일 읽기

In [2]:
# -*- coding: utf-8 -*-

fd = open("studentlist.txt")

fd.readline() # 헤딩 

lines = fd.readlines()

print ("line# : ", len(lines))

line# :  17

In [4]:
lines

['김길동,남자,23,3,유,O,165.3,68.2,02\n',
 '이미린,여자,22,2,무,AB,170.1,53,03\n',
 '홍길동,남자,24,4,무,B,175,80.1,01\n',
 '김철수,남자,23,3,무,AB,182.1,85.7,02\n',
 '손세수,여자,20,1,유,A,168,49.5,01\n',
 '박미희,여자,21,2,무,O,162,52,03\n',
 '강수친,여자,22,1,무,O,155.2,45.3,02\n',
 '이희수,여자,23,1,무,A,176.9,55,01\n',
 '이철린,남자,23,3,무,B,178.5,64.2,01\n',
 '방희철,남자,22,2,무,B,176.1,61.3,03\n',
 '박수호,남자,24,4,유,O,167.1,62,03\n',
 '임동민,남자,22,2,무,AB,180,75.8,03\n',
 '김민수,남자,21,1,무,A,162.2,55.3,01\n',
 '이희진,여자,23,3,무,O,176.1,53.1,02\n',
 '김미진,여자,22,2,무,B,158.2,45.2,03\n',
 '김동수,남자,24,4,유,B,168.6,70.2,01\n',
 '여수근,남자,21,1,무,A,169.2,62.2,02\n']

## 필드 분할, type 가공

In [5]:
Table = [] # 전체 레코드를 담은 테이블 

for line in lines :  # 한 줄 씩  line 변수에 담아서
    
    fields = line.split(",") # , 를 기준으로 나눈다. -> fields라는 list가 만들어진다.
    # name,sex,age,grade,absence,bloodtype,height,weight,dept
    #  0    1   2    3    4        5         6     7      8

    fields[2] = int(fields[2])  # 나이를 숫자로 바꿔 넣기

    fields[6] = float(fields[6])  # 키를 숫자로 바꿔 넣기
    fields[7] = float(fields[7]) # 몸무게도 
    fields[8] = fields[8].strip()
          
    Table.append(fields)  #레코드를 테이블에 추가 

print(Table[1:3])

[['이미린', '여자', 22, '2', '무', 'AB', 170.1, 53.0, '03'], ['홍길동', '남자', 24, '4', '무', 'B', 175.0, 80.1, '01']]

## 정렬

In [6]:
Table = sorted(Table, key=lambda con:con[2]) # 나이로 정렬
for record in Table :
    print(record[0], record[1], record[2])

손세수 여자 20
박미희 여자 21
김민수 남자 21
여수근 남자 21
이미린 여자 22
강수친 여자 22
방희철 남자 22
임동민 남자 22
김미진 여자 22
김길동 남자 23
김철수 남자 23
이희수 여자 23
이철린 남자 23
이희진 여자 23
홍길동 남자 24
박수호 남자 24
김동수 남자 24

## 기술 통계 : 평균 구하기, 키 평균

In [7]:
heightSum = 0
for record in Table :
    height = record[6]
    heightSum += height

print(heightSum / len(Table))

170.03529411764706

## 기술통계 :  도수 구하기 

### 학과 별 학생 수

In [8]:
dept_dic= dict()# {학과 코드: 도수}

for record in Table :
    dept_code = record[8]
    
    if dept_code in dept_dic:
        dept_dic[dept_code] += 1
    
    else :
        dept_dic[dept_code] = 1

print(dept_dic)

{'01': 6, '03': 6, '02': 5}

## join 
### 학과 코드 파일 읽어서 도수 결과에 표기

In [9]:
deptcode = dict()  # {학과 코드 : 실제 명칭}

fd = open("deptcode.txt") 
for line in fd:
    code, name = line.split(",")
    deptcode[code] = name.strip()
    print(deptcode)

for key, value in dept_dic.items():
    print (deptcode[key], value)

{'01': '소프트웨어'}
{'01': '소프트웨어', '02': 'AI융합'}
{'01': '소프트웨어', '02': 'AI융합', '03': '통계보험'}
소프트웨어 6
통계보험 6
AI융합 5

## group by :  혈액형 별 키 평균

### 혈액형 별 키 합계, 도수 집계

In [9]:
b_table = dict()  # 집계 테이블 : { 혈액형 : [합계, 도수] }

for record in Table :
    bloodtype = record[5]
    if bloodtype in b_table:  # 진료과목이 있는지
        b_table[bloodtype] = [b_table[bloodtype][0] + record[6], b_table[bloodtype][1] + 1]  # 키 합계, 갯수 
    else:
        b_table[bloodtype] = [record[6], 1]  # 키 , 갯수 

print(b_table)

{'A': [676.3, 4], 'O': [825.7, 5], 'AB': [532.2, 3], 'B': [856.4, 5]}

In [10]:
for key, value in b_table.items():
    print(key , value[0]/value[1] )

A 169.075
O 165.14000000000001
AB 177.4
B 171.28

## *과제 1 : 성별, 혈액형 별 몸무게의 평균

결과예시)

남자, A, 얼마

남자, B, 얼마

### 제출방법 

test1.ipynb 파일 제출 (위 내용 포함)

In [13]:
b_type = set()

for record in Table:
    b_type.add(record[5])
    
b_type

{'A', 'AB', 'B', 'O'}

In [140]:
male_weight = dict()
female_weight = dict()

n_male = dict()
n_female = dict()

for record in Table:
    sex = record[1]
    b_type = record[5]
    weight = record[7]
    
    if sex == "남자":
        if b_type not in n_male:
            n_male[b_type] = 1
        else:
            n_male[b_type] += 1    
        
        if b_type not in male_weight:
            male_weight[b_type] = weight
        else:
            male_weight[b_type] += weight
    
    if sex == "여자":
        if b_type not in n_female:
            n_female[b_type] = 1
        else:
            n_female[b_type] += 1
        
        if b_type not in female_weight:
            female_weight[b_type] = weight
        else:
            female_weight[b_type] += weight

print(male_weight, female_weight)
print(n_male, n_female)

{'A': 117.5, 'B': 275.8, 'AB': 161.5, 'O': 130.2} {'A': 104.5, 'O': 150.4, 'AB': 53.0, 'B': 45.2}
{'A': 2, 'B': 4, 'AB': 2, 'O': 2} {'A': 2, 'O': 3, 'AB': 1, 'B': 1}

In [141]:
import numpy as np
import pandas as pd

In [142]:
m_weight = pd.Series(male_weight)
f_weight = pd.Series(female_weight)

In [143]:
n_m = pd.Series(n_male)
n_f = pd.Series(n_female)

In [144]:
print(m_weight, f_weight)
print(n_m, n_f)

A     117.5
B     275.8
AB    161.5
O     130.2
dtype: float64 A     104.5
O     150.4
AB     53.0
B      45.2
dtype: float64
A     2
B     4
AB    2
O     2
dtype: int64 A     2
O     3
AB    1
B     1
dtype: int64

In [151]:
male = m_weight / n_m
female = f_weight / n_f

print(male, female)

A     58.75
B     68.95
AB    80.75
O     65.10
dtype: float64 A     52.250000
O     50.133333
AB    53.000000
B     45.200000
dtype: float64

In [153]:
for index, value in male.items():
    print("남자 " + index + "형 의 평균 몸무게는 " + str(value) + "kg 입니다.\n")

남자 A형 의 평균 몸무게는 58.75kg 입니다.

남자 B형 의 평균 몸무게는 68.95kg 입니다.

남자 AB형 의 평균 몸무게는 80.75kg 입니다.

남자 O형 의 평균 몸무게는 65.1kg 입니다.

In [154]:
for index, value in female.items():
    print("여자 " + index + "형 의 평균 몸무게는 " + str(value) + "kg 입니다.\n")

여자 A형 의 평균 몸무게는 52.25kg 입니다.

여자 O형 의 평균 몸무게는 50.13333333333333kg 입니다.

여자 AB형 의 평균 몸무게는 53.0kg 입니다.

여자 B형 의 평균 몸무게는 45.2kg 입니다.